#sb-slider{
width: 450px;
left: 47px;
position:relative;
}
#close_button{
border:none;
width:18px;
height:18px;
font-size:10px;
font-weight:bolder;
border-radius:3px;
cursor:pointer;
left:0px;
top:0px;
position:relative;
background-size: contain;
z-index: 5
}
#box{
top:94.5px;
left: 0px;
position:absolute;
width:500px;
height:500px;
background-color: #EEEEEE;
z-index: -1
}
#slider {
width:600px;
top:-546.02px;
position:relative;
height:100%
}
#div1{
top: 3px;
position:relative
}
#div2{
top: 3px;
position:relative
}
#div3{
white-space:nowrap;
}
.check1{
top:5px;
position:relative;
height:18px;
}
#check1{
left:80px;
top:5px;
position:relative;
height:18px;
}
#check2{
left:37px;
top:5px;
position:relative;
height:18px;
}
#check3{
left:86px;
top:5px;
position:relative;
height:18px;
}
#check4{
left:85.5px;
top:5px;
position:relative;
height:18px;
}
#check5{
left:176px;
top:5px;
position:relative;
height:18px;
}
#check6{
left:52px;
top:5px;
position:relative;
height:18px;
}
#check7{
left:163px;
top:5px;
position:relative;
height:18px;
}
#check8{
left:146px;
top:5px;
position:relative;
height:18px;
}
#check9{
left:91px;
top:5px;
position:relative;
height:18px;
}
#check10{
left:62px;
top:5px;
position:relative;
height:18px;
}
#check11{
left:146px;
top:5px;
position:relative;
height:18px;
}
#check12{
left:122px;
top:5px;
position:relative;
height:18px;
}
#header {
top: 132px;
width:360px;
height:411.5px;
position:relative;
left:140px;
padding:20px 40px;
background-color: #FFFFFF
}
#search_box{
position:relative;
left:0px;
top:-15px;
width:200px;
height:25px
}
#search_button{
position:relative;
left:15px;
top:-17px;
width:58px;
height:28px;
background:#EE5555;
border:none;
color:#fff;
cursor:pointer;
border-radius:3px
}
#icon{
position:absolute;
left:150px;
top: 42px;
max-width:350px;
width:350px;
height:90px;
background: url("../icon/origina2.png");
background-repeat : no-repeat
}
#sidebar {
position:absolute;
top:75.5px;
left:500px;
}
#sidebar1 {
transform:rotateY(180deg);
position:absolute;
top:75.5px;
left:500px;
}
#stripe {
background-color: #DD4444;
height:15px;
width:100%;
position:relative;
top:-3px;
}
input[type=text] {
margin-top:10px;
padding:6px;
width:90%;
font-size:15px;
border-radius:2px;
border:3px solid #98d0f1
}
input[type=checkbox] {
width:10%;
}
select {
padding:6px;
width:100%;
font-size:15px;
border-radius:2px;
border:3px solid #98d0f1
}
textarea {
padding:6px;
font-size:15px;
border-radius:2px;
border:3px solid #98d0f1;
margin-top:10px;
height:60px;
width:100%
}
#normal_button{
background:#2bc1f2;
border:none;
color:#fff;
width:277px;
font-size:20px;
font-weight:bolder;
border-radius:3px;
cursor:pointer;
left:0px;
top:20px;
position:relative
}